<!-- app/views/search/index.html.erb -->
<div id="search-container">
  <h1 id="search-title">Spy Search Engine</h1>
  <p>Find your favorite article</p>
  <form action="" method="get">
    <input id="search-input" type="text" name="query" placeholder="Search for articles...">
  </form>
</div>